# Dependencies
node_modules/

# Next.js
.next/
out/
build/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary Video Files
tmp_video/
tmp_test/
props-*.json
ffmpeg_test.log
test.log
install.log

# Generated Videos (Optional to ignore if you want them in your public folder)
public/video-*.mp4
public/test-video*.mp4

# Environment
.env*
.env.local
